In [26]:
import numpy as np
from pandas  import DataFrame, Series
import matplotlib.pyplot as plt

import re
from datetime import timedelta, datetime

In [27]:
import pandas as pd 
pd.options.display.max_columns = 50

In [28]:
root = "/Users/Lam/PycharmProjects/untitled/aws/"
file_name = root + "temp.log"
lines = [line.rstrip('\n') for line in open(file_name)]

In [29]:
dt_lst = []
for line in lines:
    date_str = re.search('\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}', line)
    dt_line = datetime.strptime(date_str.group(), '%Y-%m-%dT%H:%M:%S')
    dt_lst.append(dt_line)

In [30]:
sr_dt = Series(dt_lst, name='Request_Time')
# Create a DataFrame using the Request_Time Series

df = pd.DataFrame( columns=[ 'device_uuid','device_os','device_name','app_version','Request_Time' ,  'Counts' ] )
df['Request_Time'] = sr_dt
count = sr_dt.size
ones = np.ones(count, dtype=int)
df['Counts'] = ones
grouped = df.groupby('Request_Time').count()

In [32]:
#80\/.*.html?
display(df.head(10))

  device_uuid device_os device_name app_version        Request_Time  Counts
0         NaN       NaN         NaN         NaN 2019-07-23 00:00:00       1
1         NaN       NaN         NaN         NaN 2019-07-23 00:00:00       1
2         NaN       NaN         NaN         NaN 2019-07-23 00:00:00       1
3         NaN       NaN         NaN         NaN 2019-07-23 00:00:00       1
4         NaN       NaN         NaN         NaN 2019-07-23 00:00:00       1
5         NaN       NaN         NaN         NaN 2019-07-23 00:00:00       1
6         NaN       NaN         NaN         NaN 2019-07-23 00:00:00       1
7         NaN       NaN         NaN         NaN 2019-07-23 00:00:01       1
8         NaN       NaN         NaN         NaN 2019-07-23 00:00:01       1
9         NaN       NaN         NaN         NaN 2019-07-23 00:00:01       1

In [33]:
title = ['device_uuid','device_os','device_name','app_version']
# for i in range(len(big_result.index)):
#     url = big_result.index[i]
#     parsed = urlparse.urlparse(url)
    
#     output = []
#     for i in range(len(title)):
#         output.append("".join(urlparse.parse_qs(parsed.query)[title[i]]))
        
#     output_list.append(output)

In [34]:
import urllib.parse as urlparse

In [35]:
dt_lst_2 = []
dt_lst_3 = []
dt_lst_4 = []
dt_lst_5 = []



pattern = 'raininfopro.html?.*HTTP'
for line in lines:
    match = re.search(pattern, line)
    if match is not None:
        sl_line = match.group().strip().replace("HTTP","")
        parsed = urlparse.urlparse(sl_line)

        device_uuid = ''.join(urlparse.parse_qs(parsed.query)[title[0]])
        device_os = ''.join(urlparse.parse_qs(parsed.query)[title[1]])
        device_name = ''.join(urlparse.parse_qs(parsed.query)[title[2]])
        app_version = ''.join(urlparse.parse_qs(parsed.query)[title[3]])

        dt_lst_2.append(device_uuid)
        dt_lst_3.append(device_os)
        dt_lst_4.append(device_name)
        dt_lst_5.append(app_version)

KeyError: 'device_uuid'

In [ ]:
# import urllib.parse as urlparse

# for line in  lines:
#     url = re.search('http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',line)
#     parsed = urlparse.urlparse(url.group(0))
# #     print(parsed)
#     print(''.join(urlparse.parse_qs(parsed.query)['ser']))

In [ ]:


df[df.columns[0]] = Series(dt_lst_2, name='device_uuid')
df[df.columns[1]] = Series(dt_lst_3, name='device_os')
df[df.columns[2]] = Series(dt_lst_4, name='device_name')
df[df.columns[3]] = Series(dt_lst_5, name='app_version')

display(df)

In [ ]:
# from IPython.display import display, HTML

# filter_date = (df['Request_Time'] > '2019-06-27 05:00:00') & (df['Request_Time'] <= '2019-06-27 09:00:00')
# result = df.loc[filter_date].groupby('Service').count().sort_values(['Counts'],ascending=False).head(3)
# display(result)

# display(df)

In [ ]:

result = df.groupby(['device_uuid']).count().sort_values(['app_version'],ascending=False)
display(result)

In [ ]:

result = df.rename(columns={'device_name':'count'})[['device_uuid','Request_Time',"app_version",'device_os','count']].groupby(['device_uuid',pd.Grouper(key='Request_Time', freq='1H'),"app_version",'device_os']).count().sort_values(['count'],ascending=False)
display(result)

In [ ]:
# result = df.rename(columns={'device_name':'count'})[['device_uuid','Request_Time',"app_version",'device_os','count']].groupby(['device_uuid',pd.Grouper(key='Request_Time', freq='1H'),"app_version",'device_os']).count().sort_values(['count'],ascending=False)

result = df.rename(columns={'device_name':'count'})[['device_uuid','Request_Time',"app_version",'device_os','count']].groupby(['device_uuid',pd.Grouper(key='Request_Time', freq='1D'),"app_version",'device_os']).count().sort_values(['count'],ascending=False)

# result_reset = result.reset_index()
# print(result_reset)
# display(result_reset.loc[result_reset['device_uuid'] == '179609282495'].groupby(['Request_Time']).sum())
# display(result_reset.loc[result_reset['device_uuid'] == '259708173140'].groupby([pd.Grouper(key='Request_Time', freq='1H')]).sum().sort_values(['count'],ascending=False))
# result = df.groupby([pd.Grouper(key='Request_Time', freq='1H')]).count()
display(result)
# display(result.loc[result['count'] > 50])

In [17]:
# result = df.groupby(['Request_Time','device_name'], as_index=False).agg({'device_uuid':'count'}).sort_values(['device_uuid'],ascending=False)
# display(result)
# display(result.rename(columns={'device_name': 'c'}, inplace=True))

In [24]:
#### from IPython.display import display, HTML

result = df.groupby('Service').count().sort_values(['Counts'],ascending=False).head(10)
display(result)
big_result = result.loc[ (result['Counts'] > 200)]
print(len(big_result.index))
display(big_result)

KeyError: 'Service'

In [ ]:
import urllib.parse as urlparse

title = ['device_uuid','device_os','device_name','app_version']

output_list = []

for i in range(len(big_result.index)):
    url = big_result.index[i]
    parsed = urlparse.urlparse(url)
    
    output = []
    for i in range(len(title)):
        output.append("".join(urlparse.parse_qs(parsed.query)[title[i]]))
        
    output_list.append(output)   
    
print(len(output_list))

print(','.join(map(str, title)))

for item in output_list:
    print(','.join(map(str, item)))

In [ ]:
filter_date = (df['Request_Time'] > '2019-06-27 05:00:00') & (df['Request_Time'] <= '2019-06-27 09:00:00')
result = df.loc[filter_date].groupby('Service').count().sort_values(['Counts'],ascending=False).head(3)
# print(result.index[0])

In [ ]:
# link_name = 'raininfopro.html?os=Android&device_os=6.0.1&device_name=KYOCERA_KYV38&app_version=5.1&device_uuid=259708173140&pa=nkishou&device_token=c8VvROrkRcQ%3AAPA91bEzTqtQAQV99mPp80DEvMCbTaUUzlG_cND3EBawwo5pl8kT1wDVLRdqG5hNQdnIqUiSFysrktYwypYl6U1tvgZHTpjJXp91zvDdFkdFrRVctif22zn8cl6hCybxuTjCH9Yu_t_1&entity=start_up&service_type=ausp&aups=1&rainalert_starttime=0000&rainalert_endtime=2400&rainalert_enabled=1&area_code=0&lat=35.7204979&lon=140.1599286'
mask = (df['Request_Time'] > '2019-06-27 05:00:00') & (df['Request_Time'] <= '2019-06-27 09:00:00') & (df['Service'] == result.index[0])
df.loc[mask].groupby('Request_Time').count().sort_values(['Counts'],ascending=False)

In [ ]:
result = df.loc[mask].groupby('Request_Time').count()
# result.index
plt.plot_date(result.index,result['Counts'])
plt.grid(True)
plt.rcParams["figure.figsize"] = (100,1)
plt.show()